#================================================
# SiteWeb
#================================================

/**/views.json
/**/messages.json
/**/users.json
/data/sitemaps/*xml
/robots.txt
/**/~$*

#================================================